.send-genre {
    position: fixed;
    z-index: 99;
    height: 40px;
    right: 0;
    bottom: 20%;
}

.lo {
    height: 100%;
    overflow: auto;
}

.ChoiceTitle h1 {
    text-align: center;
    color: floralwhite;
    display: block;
    font-size: 35px;
}

.music-genre {
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-delay: 0.1s;
    border-radius: 25px;
    display:inline-block;
    margin: 10px 10px;
    width: 250px;
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px hsla(0, 100%, 90%, 0.3);
}

.music-genre:hover {
    box-shadow: 0 0 11px rgba(380, 33, 33, .2);
    -webkit-transition-duration: 0.5s;
    width: 260px;
}

.music-genre .top {
    border-radius: 25px;
    position: relative;
    height: 200px;
    width: 92%;
    float: left;
    overflow: hidden;
    text-align: center;
}

.music-genre .top .music-wrapper {
    padding: 30px;
    position: relative;
    z-index: 1;
}

.MusicChoiceTitle {
    height: 500px;
}

.MusicChoiceTitle h2 {
    text-align: center;
    color: floralwhite;
    display: block;
    font-size: 25px;
}

.music-genre .top:after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width:1200px){
    .MusicChoiceTitle h1 {
        text-align: center;
        color: floralwhite;
        display: block;
        font-size: 20px;
    }
}
