.NextOrPrevPage {
    height: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #0c101b;
}

.NextOrPrevPageStepper {
    cursor: grab;
    height: 30px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: linear-gradient(to top, #ed1c24, #b2102d, #77132a, #3d121d, #000000);
}

.search-bar {
    border-radius: 15px;
    background-color: #0c101b !important;
}

.theme-light .search-bar, .theme-light .NextOrPrevPage, .theme-light .main-page {
    background-color: #ffffff !important;
}

.main-page {
    min-height: 600px !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #0c101b;
}

* {
    box-sizing: border-box;
}

.card-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-auto-rows: 220px;
    grid-auto-flow: row dense;
    grid-gap: 17px;
    justify-content: center;
}

.theme-light .card-top, .theme-light .card-right, .theme-light .card-bottom, .theme-light .card-left {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    border-radius: 95.2380952381px;
    box-shadow: 0px 3px 9px 1px rgba(0, 10, 20, 0.2);
}

.theme-dark .card-top, .theme-dark .card-right, .theme-dark .card-bottom, .theme-dark .card-left {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    border-radius: 95.2380952381px;
    box-shadow: 0px 3px 9px 1px rgba(255, 255, 255, 0.2);
}

.card-top {
    flex-direction: column;
    grid-column: auto / span 1;
    grid-row: auto / span 2;
}

.card-right {
    flex-direction: row-reverse;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}

.card-bottom {
    flex-direction: column-reverse;
    grid-column: auto / span 1;
    grid-row: auto / span 2;
}

.card-left {
    flex-direction: row;
    grid-column: auto / span 2;
    grid-row: auto / span 1;
}

.card-image {
    display: flex;
}

.card-top .card-image, .card-bottom .card-image {
    height: 50%;
    width: 100%;
}

.card-left .card-image, .card-right .card-image {
    height: 100%;
    width: 50%;
}

.card-image img {
    width: 100%;
    object-fit: cover;
}

.card-top img {
    border-radius: 95.2380952381px 95.2380952381px 0 0;
}

.card-right img {
    border-radius: 0 95.2380952381px 95.2380952381px 0;
}

.card-bottom img {
    border-radius: 0 0 95.2380952381px 95.2380952381px;
}

.card-left img {
    border-radius: 95.2380952381px 0 0 95.2380952381px;
}

.card-text {
    align-self: center;
    padding: 23px;
}

.card-top .card-text {
    height: auto;
    width: auto;
    padding-bottom: 36.8px;
}

.card-right .card-text {
    height: auto;
    width: 50%;
    padding-left: 36.8px;
}

.card-bottom .card-text {
    height: auto;
    width: auto;
    padding-top: 36.8px;
}

.card-left .card-text {
    height: auto;
    width: 50%;
    padding-right: 36.8px;
}

.card-text p {
    margin: 0;
    line-height: 1.35em;
    color: #334455;
}

@media (max-width: 500px) {
    .card-top {
        flex-direction: row;
        grid-column: auto / span 2;
        grid-row: auto / span 1;
    }

    .card-bottom {
        flex-direction: row-reverse;
        grid-column: auto / span 2;
        grid-row: auto / span 1;
    }

    .card-top .card-image, .card-bottom .card-image {
        height: 100%;
        width: 50%;
    }

    .card-top img {
        border-radius: 95.2380952381px 0 0 95.2380952381px;
    }

    .card-bottom img {
        border-radius: 0 95.2380952381px 95.2380952381px 0;
    }

    .card-top .card-text {
        height: auto;
        width: 50%;
        padding-right: 36.8px;
    }

    .card-bottom .card-text {
        height: auto;
        width: 50%;
        padding-left: 36.8px;
    }
}

@media (max-width: 400px) {
    .card-image {
        width: 38% !important;
    }

    .card-text {
        width: 62% !important;
    }
}

.thematics-card {
    height: 280px;
    background-color: #0c101b;
    border-radius: 5px;
    box-shadow: -0.1rem 0 3rem rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-out;
    /*position: relative;*/
}

.thematics-card:hover {
    transform: translateY(-5px);
    transition: 0.4s ease-out;
}

.bar {
    position: relative;
    top: 20px;
    left: 10px;
    height: 5px;
    width: 90%;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0, 154, 217);
    background-image: linear-gradient(to right, #ed1c24, #b2102d, #77132a, #3d121d, #000000);
    transition: 0.6s ease-out;
}

.thematics-card:hover .filledbar {
    width: 60%;
    transition: 0.4s ease-out;
}

.circle {
    position: relative;
    width: 100px;
}

.stroke {
    stroke: #ED1C24;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

svg {
    fill: #17141d;
    stroke-width: 1px;
}

.thematics-card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.input-range__slider {
    appearance: none;
    background: #ED1C24;
    border: 1px solid #ED1C24;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 1rem;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: relative;
    top: 50%;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    width: 1rem;
}

.input-range__slider:active {
    transform: scale(1.3);
}

.input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.input-range--disabled .input-range__slider {
    background: #cccccc;
    border: 1px solid #cccccc;
    box-shadow: none;
    transform: none;
}

.input-range__slider-container {
    transition: left 0.3s ease-out;
}

.input-range__label {
    color: #aaaaaa;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    transform: translateZ(0);
    white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
    bottom: -1.4rem;
    position: absolute;
}

.input-range__label--min {
    left: 0;
}

.input-range__label--max {
    right: 0;
}

.input-range__label--value {
    position: absolute;
    top: -1.8rem;
}

.input-range__label-container {
    left: -50%;
    position: relative;
}

.input-range__label--max .input-range__label-container {
    left: 50%;
}

.input-range__track {
    background: #eeeeee;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
    background: #eeeeee;
}

.input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%;
}

.input-range__track--active {
    background: #ED1C24;
}

.input-range {
    height: 1rem;
    position: relative;
    width: 100%;
}

/*# sourceMappingURL=index.css.map */
